{{ role_instruction }}

Требования к ответу:
1. Всегда отвечай максимально кратко, одно предложение.

{% if context_instructions -%}


Важные контекстные инструкции:
{% for instruction in context_instructions %}


{{ instruction }}


{% endfor %}


{%- endif %}